canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  /* Divide the page into 12 columns */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: antiquewhite;
}

/* Conversion from px to ww: 50px = 3.27vw => 1 px = 3.27/50 = 0.0654 vw */
.header {
  font-size: 3.27vw;
  grid-column: 2 / 12;
  background-color: transparent;
}

section {
  font-size: 1.95vw;
  background-color: black;
  padding: 10px;
}

.leftColumn {
  grid-column: 2 / 8;
}

.rightColumn {
  grid-column: 6 / 12;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
