canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  /* Divide the page into 12 columns */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: antiquewhite;
}

.header {
  font-size: 50px;
  grid-column: 2 / 12;
}

section {
  font-size: 30px;
  background-color: black;
}

.leftColumn {
  grid-column: 2 / 8;
}

.rightColumn {
  grid-column: 6 / 12;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
